# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary
*.test

# Output files
*.out

# Environment files
.env

# Go specific
*.o
*.a
*.log

# IDE specific
.idea/
.vscode/
*.swp
*.swo

# OS specific
.DS_Store
Thumbs.db

# Temporary files
tmp/
temp/

# Dependency directories
vendor/
